# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.poc-authandauth.iml
# Datasource local storage ignored files
/../../../../../../:\repos\poc-authandauth\.idea\.idea.poc-authandauth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
